@import url("../../common/PageStyle/electron.css");

.parent-grid{
  display: grid;
  margin: 0 auto;
  max-width:900px;
  max-height: 200px; 
  grid-template-columns: 22% 22% 33% 22%; 
  grid-gap: 4px; /* 列與列之間的間距 */
}

.symbol_area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.gray {
  color: #2ed9b1;
  background-color: rgba(61, 58, 58, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gray:hover{
  background-color: rgba(39, 37, 37, 0.9);
  transform: translateY(-2px);
}

.power_area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.number_area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.azu{
  background-color:#6bb6cf;
  color: rgba(61, 58, 58, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.azu:hover{
  background-color: #548fa3;
  transform: translateY(-2px);
}
.azu0{
  background-color:#6bb6cf;
  color: rgba(61, 58, 58, 0.9);
  grid-column: span 2;
  max-width: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.azu0:hover{
  background-color: #548fa3;
  transform: translateY(-2px);
}

.operator_area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.AC {
  color:black;
  background-color: rgba(217, 185, 6, 0.9);
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AC:hover{
  background-color: rgba(173, 148, 7, 0.9);
  transform: translateY(-2px);
}

/* CSS */
button {
  max-width: 100px; 
  max-height:150px; 
  background-color: #0758d2;
  border-radius: 6px;
  border: 4;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Comic Sans MS", cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);

  /* 陰影效果設定 */
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #1f8f75;
  transform: translateY(-2px);
}
